% extends 'base.html' %}
{% block content %}

<label for="client">Client:</label>
<select id="client" name="client">
  {% for client in clients %}
    <option value="{{ client.id }}">{{ client.full_name }}</option>
  {% endfor %}
</select><br>

<label for="date_and_time">Date and Time:</label>
<input type="datetime-local" id="date_and_time" name="date_and_time"><br>

<label for="visit_length">Visit Length (in minutes):</label>
<input type="number" id="visit_length" name="visit_length"><br>

<input type="submit" value="Submit">

{% endblock content%}